<header id="header" [ngClass]="['header', theme]">
  <div class="header__top">
    <div routerLink="/home" class="header__top__logo-box">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198 67.477">
        <defs>
            <style>
              .cls-1{font-size:23px;font-family:'Tomatoes'}.cls-1.white{fill: #000}.cls-1.black{fill: #fff}.cls-2{font-size:12px;font-family:Avenir;font-weight:300}.cls-2.white{fill: #000}.cls-2.black{fill: #fff}
            </style>
        </defs>
        <g id="Group_132" data-name="Group 132" transform="translate(-87 -103)">
            <text id="Prince_Akachi" [ngClass]="['cls-1', theme]" data-name="Prince Akachi" transform="translate(88 139)">
                <tspan x="0" y="0">Prince Akachi</tspan>
            </text>
            <text id="photographs_designs" [ngClass]="['cls-2', theme]" data-name="photographs | designs" transform="translate(111.833 166.477)">
                <tspan x="0" y="0">photographs | designs</tspan>
            </text>
        </g>
      </svg>
    </div>
    <div class="header__top__icons-box">
      <div (click)="toggleMenu()" class="menu-button">
        <span class="line"></span>
      </div>
      <div class="social-icons">
        <a href="https://twitter.com/princearkman" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/princearkman" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/pakachi" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://dribbble.com/princeakachi" target="_blank">
          <i class="fab fa-dribbble"></i>
        </a>
      </div>
    </div>
  </div>
  <div [@menuAnimation] *ngIf="menuVisible" class="menu-box">
    <div class="close-menu" (click)="toggleMenu()">Close</div>
    <div class="menu">
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a routerLinkActive="active" routerLink="/home">Home <sup>01</sup></a>
          </li>
          <li class="nav-list-item">
            <a routerLinkActive="active" routerLink="/portfolio">Portfolio <sup>02</sup></a>
          </li>
          <li class="nav-list-item">
            <a routerLinkActive="active" routerLink="/about">About <sup>03</sup></a>
          </li>
          <li class="nav-list-item">
            <a routerLinkActive="active" routerLink="/contact">Contact <sup>04</sup></a>
          </li>
          <li class="nav-list-item">
            <a href="https://www.uplabs.com/nuel_p" target="_blank">Print <sup>05</sup></a>
          </li>
          <li class="nav-list-item">
            <a href="https://www.behance.net/user/?username=princenuelworks" target="_blank">Journal <sup>06</sup></a>
          </li>
        </ul>
      </nav>
      <ul class="list">
        <li class="list-item"><a href="#">Terms & conditions</a></li>
        <li class="list-item"><a href="#">Licensing information</a></li>
        <li class="list-item"><a href="#">Contact & support</a></li>
      </ul>
      <h6>Sign Up <span> - Newsletter</span></h6>
    </div>
    <div class="menu-img">
    </div>
  </div>
</header>