.header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    &.white {
        background-color: #eeeeee;
        background-position: bottom left;
        background-image: url('../../assets/img/header-bg-white.jpg');
        a {
            color: #000;
        }
        span.line {
            &,
            &::after,
            &::before {
            border-bottom: calc(2px + (3 - 2) * ((100vw - 300px) / (1600 - 300))) solid #000;
            }
        }
    }
    
    &.black {
        background-color: #070707;
        background-position: top;
        background-image: url('../../assets/img/header-bg-black.jpg');
        a {
            color: #fff;
        }
        span.line {
            &,
            &::after,
            &::before {
            border-bottom: calc(2px + (3 - 2) * ((100vw - 300px) / (1600 - 300))) solid #fff;
            }
        }
    }

    &__top {
        padding: 5rem 4rem 0 4rem;
        display: flex;
        justify-content: space-between;

        &__icons-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: .5rem;
            right: 4rem;
            .social-icons {
                display: inherit;
                flex-direction: inherit;
                align-items: flex-end;
                a {
                    .fab {
                        cursor: pointer;
                        margin-bottom: 1rem;
                        font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
                        transition: all .2s ease-out;
                        &:hover {
                            transform: scale(1.3);
                        }
                    }
                }
            }

            .menu-button {
                cursor: pointer;
                outline: none;
                margin-bottom: 3rem;
                &:focus {
                    outline: none;
                    outline-style:none;
                }
                span.line {
                    position: relative;
                    &,
                    &::after,
                    &::before {
                        display: inline-block;
                        width: calc(25px + (35 - 25) * ((100vw - 300px) / (1600 - 300)));
                        height: 24px;
                        box-sizing: border-box;
                        transition: all .2s ease-out;
                    }
                    &:hover {
                        width: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
                        &::before,
                        &::after {
                            width: calc(25px + (35 - 25) * ((100vw - 300px) / (1600 - 300)));
                            left: -1rem;
                        }
                    }
                    &::after,
                    &::before {
                        position: absolute;
                        content: "";
                        width: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
                        left: 1rem;
                    }
                    &::after {
                        top: 1rem;
                    }
                    &::before {
                        top: -1rem;
                    }
                }   
            }
        }

        &__logo-box {
            cursor: pointer;
            outline: none;
            width: calc(110px + (160 - 110) * ((100vw - 300px) / (1600 - 300)));
            img {
                width: 100%;
            }
        }

        // &__icons-box,
        // &__logo-box {
        //     position: fixed;
        //     z-index: 1000;
        // }
    }
    .menu-box {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background-color: #eeeeee;
        z-index: 1500;
        top: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        .close-menu {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 24px;
            color: #fff;
            outline: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        .menu-img {
            background-image: url('../../assets/img/menu-img.png');
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .menu {
            padding-left: calc(50px + (100 - 50) * ((100vw - 300px) / (1600 - 300)));
            display: grid;
            align-content: center;
            grid-auto-rows: max-content;
            grid-row-gap: 20px;
            align-items: center;
            .nav-list {
                list-style-type: none;
                &-item {
                    & {
                        margin-bottom: calc(8px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
                    }
                    a {
                        color: #747474;
                        font-weight: normal;
                        font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
                        outline: none;
                        width: max-content;
                        cursor: pointer;
                        text-decoration: none;
                        sup {
                            color: #747474;
                            font-weight: normal;
                            font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
                        }
                        &.active {
                            color: #000;
                            sup {
                                color: #000;
                            }
                        }
                    }
                }
            }
            .list {
                list-style: none;
                color: #747474;
                .list-item {
                    margin-bottom: calc(5px + (8 - 5) * ((100vw - 300px) / (1600 - 300)));
                    a {
                        text-decoration: none;
                        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
                        color: inherit;
                    }
                }
            }
            h6 {
                font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
                color: #000;
                font-weight: normal;
                margin-bottom: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
                span {
                    color: #747474;
                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .header__top {
        padding: 5rem 3rem 0 3rem;
        &__icons-box,
        &__logo-box {
            position: initial;
        }
    }
}

@media only screen and (max-width: 850px) {
    .header {
        .menu-box {
            .close-menu {
                position: absolute;
                font-size: 18px;
                color: #000;
            }
            .menu-img {
                display: none;
            }
        }
    }
}