<footer class="footer">
  <div class="scroll-to-top">
    <a class="link" [ngx-scroll-to]="'#header'">
      <span>Return to the top</span> 
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.5 31.5"><path d="M21.2 5c-0.4-0.4-1.1-0.4-1.6 0 -0.4 0.4-0.4 1.1 0 1.6l8 8H1.1C0.5 14.6 0 15.1 0 15.7c0 0.6 0.5 1.1 1.1 1.1h26.6l-8 8c-0.4 0.4-0.4 1.2 0 1.6 0.4 0.4 1.2 0.4 1.6 0l10-10c0.4-0.4 0.4-1.1 0-1.6L21.2 5z"/></svg>
    </a>
  </div>
  <div class="sitemap">
    <h6>Sitemap</h6>
    <ul class="list">
      <li class="list-item"><a routerLink="/home">Home</a></li>
      <li class="list-item"><a routerLink="/portfolio">Portfolio</a></li>
      <li class="list-item"><a routerLink="/about">About</a></li>
      <li class="list-item"><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="outer-links">
    <ul class="list">
      <li class="list-item"><a href="https://www.uplabs.com/nuel_p" target="_blank">Prints</a></li>
      <li class="list-item"><a href="https://www.behance.net/user/?username=princenuelworks" target="_blank">Journal</a></li>
    </ul>
    <p class="address">
      4, Abiodun Jagun Street, Ogba,
      Lagos, Nigeria.
    </p>
  </div>
  <div class="newsletter">
    <h6>Sign Up <span> - Newsletter</span></h6>
    <p>Be the first to hear about new arrivals</p>
    <form>
      <input type="text" placeholder="Your Name">
      <input type="email" placeholder="Your Email">

      <button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.5 31.5"><path d="M21.2 5c-0.4-0.4-1.1-0.4-1.6 0 -0.4 0.4-0.4 1.1 0 1.6l8 8H1.1C0.5 14.6 0 15.1 0 15.7c0 0.6 0.5 1.1 1.1 1.1h26.6l-8 8c-0.4 0.4-0.4 1.2 0 1.6 0.4 0.4 1.2 0.4 1.6 0l10-10c0.4-0.4 0.4-1.1 0-1.6L21.2 5z"/></svg>
      </button>
    </form>
  </div>
</footer>