.footer {
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    color: #747474;

    .scroll-to-top {
        margin-left: -5%;
        .link {
            cursor: pointer;
            transform: rotateZ(-90deg) translate(-100%);
            transform-origin: top left;
            margin-top: 30%;
            grid-column-gap: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
            span {
                color: #fff;
                font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
            }
            svg {
                fill: #fff;
            }
        }
    }

    .sitemap {
        display: grid;
        justify-content: center;
        padding: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
        grid-auto-rows: max-content;
        grid-row-gap: calc(11px + (22 - 11) * ((100vw - 300px) / (1600 - 300)));
        h6 {
            font-size: calc(9px + (18 - 9) * ((100vw - 300px) / (1600 - 300)));
            font-weight: normal;
        }
    }

    .outer-links {
        display: grid;
        justify-content: center;
        .list {
            align-self: end;
        }
        .address {
            font-size: calc(9px + (18 - 9) * ((100vw - 300px) / (1600 - 300)));
            align-self: end;
            width: 65%;
        }
    }

    .newsletter {
        h6 {
            font-size: calc(12px + (21 - 12) * ((100vw - 300px) / (1600 - 300)));
            color: #fff;
            font-weight: normal;
            margin-bottom: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
            span {
                color: #747474;
            }
        }
        p {
            font-size: calc(10px + (21 - 10) * ((100vw - 300px) / (1600 - 300)));
            margin-bottom: calc(12px + (25 - 10) * ((100vw - 300px) / (1600 - 300)));
        }

        form {
            input {
                width: 100%;
                height: calc(24px + (40 - 24) * ((100vw - 300px) / (1600 - 300)));
                background-color: transparent;
                text-indent: calc(7px + (15 - 7) * ((100vw - 300px) / (1600 - 300)));
                border: solid 1px #707070;
                margin-bottom: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
                color: #747474;
                font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
                outline: none;
            }
            button {
                background-color: #fefefe;
                border-radius: 50%;
                border: none;
                width: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
                height: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
                float: right;
                cursor: pointer;
                vertical-align: middle;
                outline: none;
                padding-top: 2px;
                svg {
                    width: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
                    fill: #747474;
                }
            }
        }
    }

    .list {
        list-style: none;
        .list-item {
            margin-bottom: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
            a {
                text-decoration: none;
                font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
                color: inherit;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        display: grid;
        grid-row-gap: 20px;
        justify-content: start;
        .scroll-to-top {
            display: none;
        }
        .sitemap {
            padding-left: 0;
            padding-bottom: 0;
            margin-bottom: -5px;
        }
        .sitemap, .outer-links {
            justify-content: start;
        }
        .list {
            .list-item:last-child {
                margin-bottom: 0;
            }
        }
    }
}