.landing {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-family: 'Avenir';
    line-height: 1.2;
    .black-layout,
    .white-layout {
        cursor: pointer;
    }
    .black-layout {
        background-color: #efefef;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .white-layout {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-weight: normal;
        font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
        cursor: pointer;
        outline: none;
        sup {
            font-weight: normal;
            line-height: 1.19;
            font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
        }
    }
}