<div class="landing">
  <div (click)="goToHome('black')" class="black-layout">
    <h2>Black <sup>01</sup></h2>
  </div>
  <div (click)="goToHome('white')" class="white-layout">
    <h2>White <sup>02</sup></h2>
  </div>
</div>