:host::ng-deep app-header > header.header {
    height: 140vh;
}

.content {
    position: relative;
    height: 150vh;
    div.about {
        display: grid;
        grid-template-rows: max-content max-content 1fr max-content;
        grid-row-gap: 15px;
        justify-items: center;
        .prince-photo {
            width: calc(100px + (250 - 100) * ((100vw - 300px) / (1600 - 300)));
            height: calc(100px + (250 - 100) * ((100vw - 300px) / (1600 - 300)));
            border-radius: 50%;
            background-image: url('../../assets/img/prince-akachi.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .about-prince, .prince-contact {
            font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
            line-height: 1.36;
            font-weight: normal;
            text-align: center;
            color: #575757;
        }
        .about-prince {
            overflow: hidden;
            p {
                width: 100%;
                height: 99%;
                overflow: auto;
                padding-right: 15px;
                box-sizing: content-box;
            }
        }
        .prince-contact {
            line-height: .8;
        }
    }
}
