<div class="content">
  <app-header></app-header>
  <div class="about absolute-container">
    <div class="page-heading">About</div>
    <div class="prince-photo"></div>
    <div class="about-prince">
      <p>
        Prince Nuel is designer, creative, and photographer. Prince is from Imo originally, but 
        currently resides in Lagos, Nigeria. Prince is currently a student in Covenant University 
        in Ota, Ogun State.
        <br><br>
        Prince has lived in the Lagos for a while now working with clients of all kinds. Prince 
        has worked in fashion, fitness, residential, university, and non-profit organizations.
        <br><br>
        Prince works with a wide range of freelance clients and working with his Editorial 
        Blog. (Inc)
        <br><br>
        “My goal has never been to shoot everyone, my goal is to give my services to those 
        who love and appreciate the work i put out . I am on a long creative journey and this 
        is only the beginning”
      </p>
    </div>
    <div class="prince-contact">
        NVEL STUDIOS 
        <br><br>
        LAGOS, NIGERIA
        <br><br>
        princeakachi@gmail.com
        <br><br>
        +234 8082 2235 75
    </div>
  </div>
  <app-footer></app-footer>
</div>