:host::ng-deep app-header > header.header {
    height: 115vh;
}

.content {
    height: 120vh;
}

div.content div.contact {
    width: 60%;
    padding: calc(22px + (45 - 22) * ((100vw - 300px) / (1600 - 300)));
    form {
        padding: 30px 0;
        display: grid;
        grid-row-gap: 30px;
        .form-row {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-column-gap: 50px;
            grid-row-gap: 30px;
        }
        .btn-row {
            display: flex;
            justify-content: center;
            button {
                width: calc(60px + (120 - 60) * ((100vw - 300px) / (1600 - 300)));
                height: calc(20px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
                font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
                color: #7b7b7b;
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                transition: box-shadow 5ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover {
                    border-radius: 2px;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                    0 1px 5px 0 rgba(0, 0, 0, 0.12), 
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    &-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .inquiries {
            text-align: right;
        }
        p:first-child {
            color: #242424;
            font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
            font-weight: 500;
        }
        p:last-child {
            color: #7b7b7b;
            font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
            font-weight: 500;
        }
    }
}


@media only screen and (max-width: 600px) {
    div.content div.contact { 
        div.contact-footer {
            .phone {
                margin-bottom: 20px;
            }
            div.inquiries {
                text-align: left;
            }
        }
    }
}