<div class="content">
  <app-header></app-header>
  <div class="contact absolute-container">
    <div class="page-heading">Contact</div>
    <form>
      <div class="form-row">
        <div class="form-group">      
          <input type="text" required>
          <span class="bar"></span>
          <label>Name <sup>*</sup></label>
        </div>
        <div class="form-group">      
          <input type="email" required>
          <span class="bar"></span>
          <label>Email <sup>*</sup></label>
        </div>
      </div>
      <div class="form-group">
        <input required>
        <span class="bar"></span>
        <label>Subject <sup>*</sup></label>
      </div>
      <textarea placeholder="Message" cols="30" rows="5"></textarea>
      <div class="btn-row">
        <button class="md-btn-ripple">Send</button>
      </div>
    </form>
    <div class="contact-footer">
      <div class="phone">
        <p>Phone</p>
        <p>+234 808 222 3575</p>
      </div>
      <div class="inquiries">
        <p>General Inquiries</p>
        <p>info@princeakachi.com</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>