<app-header></app-header>
<section class="portfolio">
  <div class="page-heading">Portfolio</div>
  <div class="images">
    <ngx-masonry [useImagesLoaded]="true" [options]="masonryOptions">
      <ngxMasonryItem class="masonry-item" *ngFor="let image of images">
        <img class="portfolio-img" [src]="image.urls.regular" alt="">
      </ngxMasonryItem>
    </ngx-masonry>
  </div>
</section>
<app-footer></app-footer>