.portfolio {
    width: 100%;
    margin-top: -70vh;
    .page-heading {
        color: #969696;
        font-size: calc(20px + (50 - 20) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 500;
        text-align: center;
        line-height: 0.85;
        margin-bottom: 20px;
    }
    .images {
        min-height: 59vh;
        ngx-masonry {
            margin: 0 0;
            min-width: 100%;
            overflow: hidden;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .masonry-item {
            margin-top: -4px;
        }   
        .masonry-item img {
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 479px) {
	.masonry-item { width: 100%; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.masonry-item { width: calc(100% / 2); }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.masonry-item { width: calc(100% / 3); }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.masonry-item { width: calc(100% / 4); }
}
@media only screen and (min-width: 1440px)  {
	.masonry-item { width: calc(100% / 5); }
}