/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face {
    font-family: 'AppleSymbols';
    src: url('assets/fonts/AppleSymbols.ttf')  format('truetype'),
         url('assets/fonts/AppleSymbols.woff')  format('woff')
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
    font-family: 'Tomatoes';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/Tomatoes.ttf') format('truetype');
}

@font-face {
    font-family: 'Brewery SVG FREE';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/BreweryVectorBrushFree.ttf') format('truetype'); 
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
img {
    pointer-events: none;
}

html {
    font-size: 62.5%;
    &.show-menu {
        overflow: hidden;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-family: 'Avenir';
}

.header {
    height: 100vh;
}


a.link {
    display: grid;
    grid-template-columns: max-content 2rem;
    grid-column-gap: 5px;
    align-items: center;
    text-decoration: none;
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: #797979;
    width: max-content;
    span {
    }
    svg {
        width: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
        fill: #797979;
    }
}

.content {
    position: relative;
    height: 150vh;
    .absolute-container {
        position: absolute;
        height: 75%;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        padding: 40px;
        .page-heading {
            color: #575757;
            font-size: calc(20px + (50 - 20) * ((100vw - 300px) / (1600 - 300)));
            font-weight: 500;
            text-align: center;
            line-height: 0.85;
        }
    }
}

.form-group { 
    position: relative;
    input {
        font-size: calc(9px + (18 - 9) * ((100vw - 300px) / (1600 - 300)));
        padding: 10px 10px 10px 0;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #434343;
        &:focus {
            outline: none; 
        }
        &:focus ~ label,
        &:valid ~ label {
            top: calc(-10px + (-20 - -10) * ((100vw - 300px) / (1600 - 300)));
            font-size: calc(9px + (14 - 9) * ((100vw - 300px) / (1600 - 300)));
            color: #242424;
        }
        &:focus ~ .bar:before,
        &:focus ~ .bar:after {
            width: 50%;
        }
    }
    label {
      color: #999;
      font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
      transition: 0.2s cubic-bezier(0.64, 0.012, 0.08, 1); 
      -moz-transition: 0.2s cubic-bezier(0.64, 0.09, 0.08, 1); 
      -webkit-transition: 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    }
    .bar { 
        position: relative; 
        display: block; 
        width: 100%;

        &:before,
        &:after {
            content:'';
            height:2px; 
            width:0;
            bottom:1px; 
            position:absolute;
            background:#242424; 
            transition:0.2s cubic-bezier(0.64, 0.09, 0.08, 1); 
            -moz-transition:0.2s cubic-bezier(0.64, 0.09, 0.08, 1); 
            -webkit-transition:0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
        }
        &:before {
          left:50%;
        }
        &:after {
          right:50%; 
        }
    }
    
}

textarea {
    display: block;
    width: 100%;
    border: 0;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    background: white no-repeat;
    background-image: linear-gradient(to bottom, #242424, #242424), linear-gradient(to bottom, #434343, #434343);
    background-size: 0 3px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);

    &:focus{
        background-size: 100% 3px, 100% 1px;
        outline: none;
    }
    &::placeholder {
      font-weight: normal;
      color: #999;
      font-family: 'Avenir';
    }
}

input, textarea {
    color: #575757;
}

.u-prevent-jump {
    transition: height 1000s steps(1);
}



  




@-webkit-keyframes inputHighlighter {
    from { background:#242424; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#242424; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#242424; }
    to 	{ width:0; background:transparent; }
}