<app-header></app-header>
<section id="scroll">
    <a [ngx-scroll-to]="'#works'">
        <span [ngClass]="[theme]"></span>
        <span [ngClass]="[theme]"></span>
        <span [ngClass]="[theme]"></span>
    </a>
</section>
<section id="works" [ngClass]="['works', theme]">
    <div (click)="goTo('https://unsplash.com/princearkman')" [ngClass]="['photography', theme]">
        <div class="work">
            <div class="work-header">
                <h5>Photographs</h5>
                <span class="plus"></span>
            </div>
            <div class="work-body"></div>
            <div class="work-footer">
                <a class="link" href="#" target="_blank">
                    <span>Explore</span> 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.5 31.5"><path d="M21.2 5c-0.4-0.4-1.1-0.4-1.6 0 -0.4 0.4-0.4 1.1 0 1.6l8 8H1.1C0.5 14.6 0 15.1 0 15.7c0 0.6 0.5 1.1 1.1 1.1h26.6l-8 8c-0.4 0.4-0.4 1.2 0 1.6 0.4 0.4 1.2 0.4 1.6 0l10-10c0.4-0.4 0.4-1.1 0-1.6L21.2 5z"/></svg> </a>
            </div>
        </div>
    </div>
    <div (click)="goTo('https://www.uplabs.com/nuel_p')" [ngClass]="['designs', theme]">
        <div class="work">
            <div class="work-header">
                <h5>Designs</h5>
                <span class="plus"></span>
            </div>
            <div class="work-body">
                <img src="assets/img/designs-bg.png" alt="" srcset="">
            </div>
            <div class="work-footer">
                <a class="link" href="https://www.uplabs.com/nuel_p" target="_blank">
                    <span>Explore</span> 
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.5 31.5"><path d="M21.2 5c-0.4-0.4-1.1-0.4-1.6 0 -0.4 0.4-0.4 1.1 0 1.6l8 8H1.1C0.5 14.6 0 15.1 0 15.7c0 0.6 0.5 1.1 1.1 1.1h26.6l-8 8c-0.4 0.4-0.4 1.2 0 1.6 0.4 0.4 1.2 0.4 1.6 0l10-10c0.4-0.4 0.4-1.1 0-1.6L21.2 5z"/></svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section [ngClass]="['journal', theme]">
    <div class="journal-image">
        <img [src]="behanceProject.covers['original']" alt="journal image">
    </div>
    <div class="journal-details">
        <h4 class="journal-header">Journal</h4>
        <p class="journal-body">
            Decades later, the contributions of Donald Judd to minimalist 
            art continue to inspire not only VERK but countless other modernist 
            creators. He and his “Specific Objects” series are the subject 
            of our latest exploration.
        </p>
        <a class="link" href="https://www.behance.net/user/?username=princenuelworks" target="_blank">
            <span>Read More</span> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.5 31.5"><path d="M21.2 5c-0.4-0.4-1.1-0.4-1.6 0 -0.4 0.4-0.4 1.1 0 1.6l8 8H1.1C0.5 14.6 0 15.1 0 15.7c0 0.6 0.5 1.1 1.1 1.1h26.6l-8 8c-0.4 0.4-0.4 1.2 0 1.6 0.4 0.4 1.2 0.4 1.6 0l10-10c0.4-0.4 0.4-1.1 0-1.6L21.2 5z"/></svg>
        </a>
    </div>
</section>
<!-- <section class="instagram"></section> -->
<app-footer></app-footer>