.works  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 65rem;
    font-family: 'Avenir';
    cursor: pointer;
    &.black {
        h5 {
            color: #fff;
        }
    }
    &.white {
        h5 {
            color: #000;
        }
    }

    .photography {
        &.white {
            background-image: url('../../assets/img/photographs-bg-white.png');
        }
        &.black {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/img/photographs-bg-black.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        background-size: cover;
        background-position: center;
        padding: 3rem 3rem 0 3rem;
    }

    .designs {
        &.white {
            background-color: #efefef;
        }
        &.black {
            background-color: #070707;
        }
        padding: 3rem 3rem 0 3rem;
    }

    .work {
        height: 100%;
        display: grid;
        grid-template-rows: 5rem 1fr 8rem;
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
                font-weight: normal;
                font-size: calc(15px + (24 - 15) * ((100vw - 300px) / (1600 - 300)));
            }

            .plus {
                display: inline-block;
                position: relative;
                height: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
                width: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
                border-radius: 50%;
                background-color: #fff;
                &::after {
                    content: "+";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
                    transform: translate(-50%, -50%);
                }
            }
        }
        &-body {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: calc(250px + (500 - 250) * ((100vw - 300px) / (1600 - 300)));
            }
        }
        &-footer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

.journal {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: "text image";
    font-family: 'Avenir', 'Open Sans', sans-serif;
    &.black {
        background-color: #070707;
        .journal-header {
            color: #fff;
        }
    }
    &.white {
        background-color: #eeeeee;
        .journal-header {
            color: #000;
        }
    }
    &-image {
        grid-area: image;
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    &-details {
        grid-area: text;
        padding: calc(20px + (50 - 20) * ((100vw - 300px) / (1600 - 300)));
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: 2rem;
        .journal-header {
            font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
            font-weight: 500;
        }
        .journal-body {
            font-size: calc(7px + (22 - 7) * ((100vw - 300px) / (1600 - 300)));
            color: #797979;
        }
        &>* {
            text-align: left;
        }
    }
}

.instagram {
    min-height: 60rem;
}

#scroll a {
    padding-top: 80px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    color: #000;
    cursor: pointer;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    &:hover {
        opacity: .5;
    }
    span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
        opacity: 0;
        box-sizing: border-box;
        &.black {
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
        }
        &.white {
            border-left: 3px solid #000;
            border-bottom: 3px solid #000;
        }
        &:nth-of-type(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        &:nth-of-type(2) {
            top: 16px;
            -webkit-animation-delay: .15s;
            animation-delay: .15s;
        }
        &:nth-of-type(3) {
            top: 32px;
            -webkit-animation-delay: .3s;
            animation-delay: .3s;
        }
    }
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) { 
    .works {
        grid-auto-rows: 45rem;
    }

    .journal-details {
        a.link {
            font-size: 9px;
            svg {
                width: 10px;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .works {
        grid-auto-rows: 80rem;
    }
}